{% extends 'base.html' %}

{% block contenidoQueCambia %}
    <div>
        <form method="post">{% csrf_token %}
            <button><a href="{% url 'ClienteFormulario' %}">Cargar cliente</a></button>
        </form>
    </div>

    <div>
        <form method="post">{% csrf_token %}
            <button><a href="{% url 'ListaCliente' %}">Lista de clientes</a></button>
        </form>
    </div>
    <div>
        <form method="post">{% csrf_token %}
            <button><a href="{% url 'BuscarCliente' %}">Buscar cliente</a></button>
        </form>
    </div>

{% endblock contenidoQueCambia %}